html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#proxyContainer {
    transition: opacity 500ms linear;
}

#searchContainer {
    position: initial;
    height: 19vh;
}

#overviewContainer {
    margin : 48px auto;
    transition: opacity 500ms linear;
}

#descriptionContainer {
    margin : 48px auto;
    transition: opacity 500ms linear;
}

#carouselContainer {
    margin : 48px auto;
    transition: opacity 500ms linear;
}

#bottomOfPage {
    transition: opacity 500ms linear;
}

#bottomOfPage .position-img-outer
{
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
#bottomOfPage .position-img-outer .position-img-inner
{
    display: inline-block;
    position: relative;
    right: -50%;
}
#bottomOfPage .position-img-outer .position-img-inner .position-img
{
    position: relative;
    left: -50%;
}

#hero {
    margin: -12px;
    transition: opacity 500ms linear;
}

.hideIT {
    opacity: 0;
    transition: opacity 500ms linear;
}

.hideITfast {
    opacity: 0;
    transition: opacity 500ms linear;
}

.hideIT.removeIT {
    display: none;
}

.removeIT {
    display: none;
}

#hero .position-img-outer
{
    height: 95vh;
    margin: 0 auto;
    overflow: hidden;
}
#hero .position-img-outer .position-img-inner
{
    display: inline-block;
    position: relative;
    right: -50%;
}
#hero .position-img-outer .position-img-inner .position-img
{
    position: relative;
    left: -50%;
}

.launchSearchBar{
    position: absolute;
    top: 25vh;
    z-index: 10;
    width: 500px !important;
    left: -25vw;
    height: 48px;
}

.launchDropDown {
    top: -10px !important;
    width: 800px !important;
}

.launchSearchBar > form > div.row {
    border: #eee 2px solid;
}

.launchDepartments {
    left: 850px !important;
}

body.noScroll {
    overflow: hidden;
  }





 
  
  .loader {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    z-index:100;
    position: fixed;
    left: 0;
    top: 0;
    background: #004990;
    width: 100%;
    height: 100vh;
    animation: backgroundChange .5s linear 2s forwards, fadeOut .5s linear 3.5s forwards
  }
  
  .load-text {
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: bold;
    font-size: 10vmax;
    width: fit-content;
    display: flex;
    animation: colorChange .5s linear 2s forwards;
  }
  
  .loaded-text {
    font-weight: bold;
    transform: scale(2);
    animation: scaleText .5s linear .5s forwards;
  }
  
  .loadingText2 {
    font-weight: bold;
    z-index: 1000;
    width: 0;
    overflow: hidden;
    animation: expandIT .5s linear 1.5s forwards; 
  }

  @media(max-width: 1000px) {
      .loadingText2 {
        animation: expandITMobile .5s linear 1.5s forwards;
      }
  }
  
  @keyframes scaleText {
    from {transform: scale(2)}
    to {transform: scale(1)}
  }
  
  @keyframes expandIT {
    from {width: 0;}
    to {width: 32vmax;}
  }

  @keyframes expandITMobile {
    from {width: 0px;}
    to {width: 325px;}
  }
  
  @keyframes backgroundChange {
    from {background-color: #004990}
    to {background-color: white}
  }
  
  @keyframes colorChange {
    from {color: white}
    to {color: #004990}
  }
  
  @keyframes fadeOut {
    from {opacity: 1}
    to {
      opacity: 0; 
      z-index: -1;
    }
  }